workflow-n8n-followup.json
{
    "name": "FollowUp automatizado",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 10
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -820,
                -80
            ],
            "id": "ac5c57a8-f4d3-46d9-b84c-e21ba6bdb49f",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "leads",
                "returnAll": true
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -620,
                -80
            ],
            "id": "c8109368-1da3-4b85-9005-a80c6cf984ec",
            "name": "Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "2L8t0XuopO8P6oKd",
                    "name": "Credencial principal"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "ADA",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                420,
                -140
            ],
            "id": "dcfc8592-9d5c-4649-a757-b688206f992f",
            "name": "FollowUp1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "ADA",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $('Loop Over Items').item.json.telefone }}"
                        },
                        {
                            "name": "text",
                            "value": "="
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                420,
                -360
            ],
            "id": "e1d75dc3-2979-4e4d-b42c-5e4d2582ffe8",
            "name": "FollowUp",
            "executeOnce": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "ADA",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                420,
                40
            ],
            "id": "69586d67-e703-4714-aef6-8aa1e1c301f4",
            "name": "FollowUp2"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                860,
                180
            ],
            "id": "f70ae419-d6ec-46fe-a92d-9d50b395dcb2",
            "name": "Wait",
            "webhookId": "6e6e97c3-177f-4540-8953-014061bbd4ff"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.hours.hours === 3 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        },
                                        "id": "e85f1220-6452-4f12-a647-5e9ebbd9abaa"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "3h"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "756f24dc-ef59-4d74-afaf-1a723b6cc65f",
                                        "leftValue": "={{ $json.hours.hours === 24 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "24h"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "e1f9724c-9ff9-4b21-946c-2e0e0f325a5c",
                                        "leftValue": "={{ $json.hours.hours === 72 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "72h (3 dias)"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                20,
                20
            ],
            "id": "6e9ea6f0-62d3-47a5-a49b-253b3437da5b",
            "name": "Roteador da Cadência"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -400,
                -80
            ],
            "id": "a331bfb3-de63-4ce8-9917-f715f5d4945b",
            "name": "Loop Over Items"
        },
        {
            "parameters": {
                "operation": "getTimeBetweenDates",
                "startDate": "={{ $json.hora_mensagem }}",
                "endDate": "={{ $now }}",
                "units": [
                    "hour",
                    "minute"
                ],
                "outputFieldName": "hours",
                "options": {}
            },
            "type": "n8n-nodes-base.dateTime",
            "typeVersion": 2,
            "position": [
                -200,
                40
            ],
            "id": "3f43df00-628f-4036-afc6-879f89b01a4c",
            "name": "Date & Time"
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "="
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -140,
                -960
            ],
            "id": "d7be7b5f-d33f-491d-bc5e-98a15ab4a92b",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": "gpt-4.1-mini",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                -320,
                -700
            ],
            "id": "5e7d11b8-35cc-4a6f-a14c-7d36171d2725",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "8uIBif2ZEUF4B2m8",
                    "name": "my_Credential"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "=",
                "tableName": "n8n_chat_feira",
                "contextWindowLength": 15
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                -160,
                -700
            ],
            "id": "91aa2e7e-b3be-4cd1-8be7-9c6c5a0f2ee2",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "K9ALj33blVkUKB0U",
                    "name": "PG Memory Feira"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                480,
                -960
            ],
            "id": "8450a5bc-161a-4bae-903a-6d197c09e9dd",
            "name": "Loop Over Items2"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                760,
                -1100
            ],
            "id": "4f0e3a69-0522-4d2a-be0e-7e58937535d3",
            "name": "Limit1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "="
                        },
                        {
                            "name": "text",
                            "value": "="
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                820,
                -860
            ],
            "id": "1c47f7db-8edb-428a-90f3-3e6bbdc76e43",
            "name": "Send Message to WhatsApp/Telegram/etc",
            "executeOnce": true
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "7efa2fc7-3214-4625-9ffa-9ce88fd161fb",
                            "name": "content",
                            "value": "={{ $json.text.split('\\n\\n') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                220,
                -960
            ],
            "id": "a126b4f0-9b1e-4349-ac09-143f4ca7df65",
            "name": "Edit Fields1"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "leads",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $('Edit Fields1').item.json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "hora_mensagem",
                            "fieldValue": "={{ $now }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1040,
                -1100
            ],
            "id": "00335e78-da33-4f2a-a274-d061f09e8aac",
            "name": "Supabase1",
            "credentials": {
                "supabaseApi": {
                    "id": "2L8t0XuopO8P6oKd",
                    "name": "Credencial principal"
                }
            }
        },
        {
            "parameters": {
                "content": "## Separa frases/parágrafos",
                "height": 200
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                160,
                -1040
            ],
            "id": "168e9647-b27e-4ee0-9dc3-98e388d11672",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Envia Mensagens",
                "height": 200
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                760,
                -940
            ],
            "id": "4cafde65-2e27-4efb-876d-8384a817f75f",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "## Update do campo 'hora_mensagem' no CRM ou Database SEMPRE com {{ $now }} relacionando com o lead",
                "height": 780,
                "width": 420,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1000,
                -1460
            ],
            "id": "76cb7f2e-5606-452b-81c3-551730588795",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "leads",
                "returnAll": true,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "telefone",
                            "condition": "eq",
                            "keyValue": "={{ $json.telefone }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -960,
                -960
            ],
            "id": "6b38b053-c1e6-400f-bbca-f34b91dc67a8",
            "name": "Supabase2",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "2L8t0XuopO8P6oKd",
                    "name": "Credencial principal"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "92f7c89b-9bf9-4aee-927c-94b5e42550a6",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -760,
                -960
            ],
            "id": "f912f18c-0100-4500-a772-ff3dbd63f5ac",
            "name": "If Vazio"
        },
        {
            "parameters": {
                "tableId": "leads",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "telefone",
                            "fieldValue": "={{ $json.telefone }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -560,
                -1100
            ],
            "id": "037c92c3-f24b-4121-ba90-cc908f7c9744",
            "name": "Supabase3",
            "credentials": {
                "supabaseApi": {
                    "id": "2L8t0XuopO8P6oKd",
                    "name": "Credencial principal"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "56632110-04d5-41ef-b8b6-928c3d7de466",
                            "name": "id",
                            "value": "",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -320,
                -960
            ],
            "id": "9369b5c1-e5b3-41a0-a3c8-20f91e12b053",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "content": "# 🤖 **FOLLOW UP AUTOMATIZADO COM n8n**\n\n**Não perca mais nenhum cliente!**\n\nChega de esquecer contatos importantes ou depender de planilhas manuais.\nNeste vídeo, eu vou te mostrar como criar um **fluxo inteligente no n8n** que faz follow-up **sozinho**, no momento certo e com a **mensagem certa**.\n\n### 📌 Você vai aprender a:\n\n* 🧠 Criar um agente que entende **quem respondeu e quem ignorou**\n* ⏰ Programar envios com **intervalos estratégicos**\n* 💬 Personalizar mensagens automáticas com **nome, histórico e contexto**\n* 📊 Integrar com **CRM, WhatsApp, Email e mais**\n* 🌀 Tudo 100% **sem código chato** e **escalável**\n\n> 🎯 *Ideal para aumentar conversão, resgatar leads e automatizar seu processo comercial de ponta a ponta.*\n",
                "height": 880,
                "width": 1420,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                2000,
                -640
            ],
            "id": "93dc6fea-12da-449b-b4ba-d24e18f45582",
            "name": "Sticky Note3"
        }
    ],
    "pinData": {
        "AI Agent": [
            {
                "json": {
                    "text": "1"
                }
            }
        ]
    },
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FollowUp": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FollowUp1": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FollowUp2": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Roteador da Cadência": {
            "main": [
                [
                    {
                        "node": "FollowUp",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FollowUp1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FollowUp2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "Date & Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Date & Time": {
            "main": [
                [
                    {
                        "node": "Roteador da Cadência",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items2": {
            "main": [
                [
                    {
                        "node": "Limit1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Message to WhatsApp/Telegram/etc",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit1": {
            "main": [
                [
                    {
                        "node": "Supabase1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Message to WhatsApp/Telegram/etc": {
            "main": [
                [
                    {
                        "node": "Loop Over Items2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields1": {
            "main": [
                [
                    {
                        "node": "Loop Over Items2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase2": {
            "main": [
                [
                    {
                        "node": "If Vazio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Vazio": {
            "main": [
                [
                    {
                        "node": "Supabase3",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase3": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "eed096a1-a938-43ad-bf9c-eba58f999404",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "4ed87f3dc458f31d4a4aa31788b761b747079378015d60c162d0482f6d9163e5"
    },
    "id": "XR7RxMbhRl7tUP5A",
    "tags": [
        {
            "createdAt": "2025-05-25T00:49:25.859Z",
            "updatedAt": "2025-05-25T00:49:25.859Z",
            "id": "OwGYYsOlm7Z02Xhg",
            "name": "Automind"
        },
        {
            "createdAt": "2025-05-25T00:49:30.003Z",
            "updatedAt": "2025-05-25T00:49:30.003Z",
            "id": "hQVIjBh6Vtzkcw6C",
            "name": "Templates"
        }
    ]
}